<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">

<head>
    <title>RBGC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>


<body>

<div class="container">

    <header>
        <div class="logout text-right align-bottom" th:if="${session.user != null}">
            <span th:text="'Bienvenue ' + ${session.user.firstName} + ' /'"> </span>
            <span> <a th:href="@{/logout}">logout</a> </span>
        </div>
        <img th:src="@{/pictures/logo.jpg}" class="img-fluid">
    </header>

    <section>

        <div id="bg">
            <p id="texteLogo">Réseau des Bibliothèques <br/> du Grand Cherbourg</p>

            <div class="text-right" id="myMenu">
                <a th:href="@{/researchForm}" class="btn btn-light" role="button">Rechercher un ouvrage</a>
                <a th:href="@{/loginForm}" class="btn btn-light" role="button">Accéder à mon compte</a>
                <a href="#link" class="btn btn-light" role="button">Infos pratiques</a>
            </div>



            <div id="loginContainer" th:if="${toBeDisplayed == 'loginForm'}">
                <form id="loginBloc" class="text-ce" method="post" th:action="@{/memberArea}">

                    <div th:switch="${alert}">
                        <p style="color: white" th:case="'wrong password'">Le mot de passe n'est pas correct</p>
                        <p style="color: white" th:case="'wrong email'">Email inconnu</p>
                        <p  style="color: white; visibility: hidden"  th:case= "*" > hidden placeholder</p>

                    </div>


                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" name="email" class="form-control" id="email"
                               placeholder="monadresse@exemple.fr"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </form>
            </div>



            <div id="researchContainer" th:if="${toBeDisplayed == 'researchForm'}">
                <form id="researchBloc" class="text-ce" method="post" th:action="@{/researchResult}">

                    <div th:switch="${alert}">
                        <p style="color: white" th:case="'no parameter'">Renseignez au minimum un critère de recherche!</p>
                        <p  style="color: white; visibility: hidden"  th:case= "*" > hidden placeholder</p>
                    </div>

                    <div class="form-group">
                        <label for="author">Auteur</label>
                        <input type="text" name="author" class="form-control" id="author" placeholder="Balzac">
                    </div>

                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Une vie">
                    </div>


                    <div class="form-group">
                        <label for="tags">Mots-clés</label>
                        <input type="text" name="tags" class="form-control" id="tags" placeholder="Architecture, Italie">
                    </div>

                    <div class="form-group">
                        <label for="librairy">Bibliothèque</label>
                        <select class="form-control" id="librairy" name="librairy">
                            <option value="-1" selected>Toutes</option>
                            <option th:each="librairy: ${librairyList}"
                                    th:value="${librairy.id}"
                                    th:text="${librairy.name}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Rechercher</button>

                </form>
            </div>

        </div>


    </section>


    <footer>
        <div class="marginBottom"></div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</div>
</body>
</html>
