<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">

<head>
    <title>RBGC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="container">

    <header>
        <img th:src="@{/pictures/logo.jpg}" alt="logo" class="img-fluid">
    </header>

    <section>

        <div id="bg-banner">
            <p id="texteLogo">Réseau des Bibliothèques <br/> du Grand Cherbourg</p>

            <div class="text-right" id="myMenu">
                <a href="#link" class="btn btn-light" role="button">Rechercher un ouvrage</a>
                <a href="#link" class="btn btn-light" role="button">Accéder à mon compte</a>
                <a href="#link" class="btn btn-light" role="button">Infos pratiques</a>
            </div>

        </div>
    </section>

    <section>


        <div class="row">
            <div id="availabilities" class="col-lg-6">

                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th style="width: 30%" scope="col">Bibliothèque</th>
                        <th style="width: 25%" scope="col">Nb exemplaires dispos</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Un jardin en ville</td>
                        <td>Jean Loukfi</td>
                    </tr>
                    <tr>
                        <td>Un jardin en ville</td>
                        <td>Jean Loukfi</td>
                    </tr>
                    <tr>
                        <td>Un jardin en ville</td>
                        <td>Jean Loukfi</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div id="bookDetails" class="col-lg-6">
                <p> Pour ce faire, il suffit de vous créer un compte membre.
                    C'est rapide et c'est gratuit. En tant que membre, vous pourrez également laisser des commentaires
                    et
                    emprunter des topos auprès d'autres membres.
                    Alors n'hésitez pas et rejoignez la communauté High!
            </div>

        </div>


    </section>


    <footer>
        <div class="marginBottom"></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</div>
</body>
</html>