<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">

<head>
    <title>RBGC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="container">

    <header>
        <div class="logout text-right align-bottom" th:if="${session.user != null}">
            <span th:text="'Bienvenue ' + ${session.user.firstName} + ' /'"> </span>
            <span> <a th:href="@{/logout}">logout</a> </span>
        </div>
        <img th:src="@{/pictures/logo.jpg}" alt="logo" class="img-fluid">
    </header>

    <section>

        <div id="bg-banner">
            <p id="texteLogo">Réseau des Bibliothèques <br/> du Grand Cherbourg</p>

            <div class="text-right" id="myMenu">
                <a th:href="@{/researchForm}" class="btn btn-light" role="button">Rechercher un ouvrage</a>
                <a th:href="@{/loginForm}" class="btn btn-light" role="button">Accéder à mon compte</a>
                <a href="#link" class="btn btn-light" role="button">Infos pratiques</a>
            </div>

        </div>

        <div>
            <a th:href="@{/backToResultOverview}"> <img th:src="@{/pictures/left-arrow.png}" alt="flêche retour"/>
                <span style="color: black">retour à la liste</span>
            </a>
        </div>

    </section>

    <section>


        <div class="row">

            <div id="bookDetails" class="col-lg-6">

                <table class="table table-sm">


                    <thead class="thead-dark">
                    <tr>
                        <th style="width: 100%" scope="col" colspan="2"> Détails</th>
                    </tr>
                    </thead>

                    <tbody th:object="${selectedBookReference}">
                    <tr>
                        <th>Titre</th>
                        <td th:text="*{title}">La maison aux esprits</td>
                    </tr>

                    <tr>
                        <th>Auteur</th>
                        <td th:text="*{authorFirstName + ' '+ authorSurname }">Isabel Allende</td>
                    </tr>

                    <tr>
                        <th>Éditeur</th>
                        <td th:text="*{publisher}">Le livre de poche</td>
                    </tr>

                    <tr>
                        <th>ISBN 13</th>
                        <td th:text="*{isbn13}">7665654543542</td>
                    </tr>

                    <tr>
                        <th>Mots-clés</th>
                        <td th:text="*{tagsAsString}">Histoire, Chili, Dictature, Roman</td>
                    </tr>


                    <tr>
                        <th>Année de publication</th>
                        <td th:text="${selectedBookReference.yearPublication}">2015</td>
                    </tr>

                    <tr>
                        <th>Résumé</th>
                        <td th:text="${selectedBookReference.summary}">Isabel Allende, née en 1942 au Chili, dut
                            s'exiler après le coup d'Etat militaire. A
                            Caracas, où elle s'installa alors, elle collabora à divers journaux et revues. En 1981, elle
                            n'y tint plus et plaça une feuille blanche sur sa machine à écrire : "La Maison aux esprits
                            a été ma façon d'essayer de sécher les larmes dont j'étais remplie, de donner corps à la
                            douleur pour en faire ma prisonnière. Ce faisant, j'ai attribué à l'écriture le pouvoir de
                            ressusciter les morts, de renouer avec les disparus, de reconstruire un monde perdu." Le
                            résultat fut un best-seller mondial, bientôt suivi de quatre autres. "J'aime écrire, dit
                            encore Isabel Allende. J'écris parce que j'en ai envie, que j'y trouve un très vif
                            plaisir... et sans doute parce qu'aussi longtemps qu'il y aura du rire, des larmes et de
                            l'amour, il ne me manquera pas d'histoires à raconter."
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div id="availabilities" class="col-lg-6">

                <table class="table table-sm">

                    <thead class="thead-dark">
                    <tr>
                        <th style="width: 30%" scope="col">Bibliothèque</th>
                        <th style="width: 25%" scope="col">Total exemplaires</th>
                        <th style="width: 25%" scope="col">dispos</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="item: ${selectedBookReference.availabilities}">
                        <td th:text="${item.librairyName}">Jean Jaures</td>
                        <td th:text="${item.amountBooks}">2</td>
                        <td th:text="${item.amountAvailableBooks}">2</td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>


    </section>


    <footer>
        <div class=" marginBottom
                        ">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</div>
</body>
</html>